body{
    margin: 0%;
}


header{
    background-color: #fff;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 100px;
}

#input{
    display: flex;
    font-size: 12px;
    text-align: left;
    align-items: baseline;
    align-self: flex-end;
    padding-bottom: 5px;
    gap: 5px;
}

#blackb{
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
}

a:link{
    text-decoration: none;
    color: #fff;
}

nav{
    background-color: #000;
    color: #fff;
    display: flex;
    gap: 100px;
    padding-left: 100px;
}

nav a{
    color: #fff;
}

#showcase{
    
    background: url('bg.png') no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    text-align: left;
    padding: 40px 60% 40px 100px;
    color: #fff;
}

.button{
    background-color: rgb(255, 84, 35);
    border: 0;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    box-shadow: 20px rgb(0,0,0);
    color: #fff;
}

.button:hover{
    background-color: rgb(104, 49, 49);
}

#showcase2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(255, 84, 35);
    align-items: center;
    padding: 10px 100px 10px 100px;
    color: #fff;
}


.button2{
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    padding: 5px;
    box-shadow: 20px rgb(0,0,0);
}

.button2:hover{
    background-color: rgb(255, 84, 35);
}

.trust{
    padding-left: 100px;
}

.trust #imgs{
    display: flex;
    
    width: min-content;
}


#right a{
    text-decoration: none;
    color: red;
    padding-left: 1000px;
    
}

.about{
    padding-left: 100px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;

}



.about #a1{
    padding-right: 50px;
}

.about #imgss{
    display: flex;
    padding: 10px;
}

#bl{
    margin-top: 0px;
    display: flex;
    font-size: smaller;
    float: inline-start;
    gap: 20px;
    align-items: center;
    padding-top: 0%;
}

footer{
    border-top: rgb(255, 84, 35) 5px solid;
    background-color: #000;
    color: #fff;
    display: flex;
    padding-left: 100px;
    font-size: 12px;
    padding-top: 10px;
}

#end{
    padding-left: 50px;
    font-size: 70%;
    align-items: flex-end;
    padding-top: 0px;
    
}

#end img{
    padding-top: 10px;
    width: 20px;
    height: 20px;
    padding-bottom: 1px;
}

.ul{
    list-style: none;
}

.ip a{
    color: red;
    padding-top: 0px;
}

.about a{
    color: red;
}
